.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 1rem;
}

h1 {
  font-size: 3rem; /* Changed for clarity, you can adjust as needed */
  margin-bottom: 3rem;
}

.keeper {
  color: var(--secondary-gray);
}

nav {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}

.link {
  color: var(--text-gray);
  text-decoration: none;
  position: relative; /* Ensure positioning context for the pseudo-element */
  display: flex;
}

.link::after {
  content: ""; /* Required to show the after element */
  position: absolute;
  left: 0;
  bottom: -0.4rem; /* Adjust the distance of the underline from the text */
  width: 0%; /* Start with no width */
  height: 0.2rem; /* Height of the underline */
  background-color: var(--secondary-gray); /* Use your desired color */
  transition: width 0.2s ease-out; /* Smooth transition for the width */
}

.link.active {
  color: var(--active-color); /* Active link color */
  font-weight: bold; /* Optional: make it bold */
}
.link:hover {
  color: var(--dark-gray);
}
.link:hover::after {
  width: 101%; /* Expand underline on hover */
}

.link.active::after {
  width: 101%; /* Keep the underline full width for the active link */
}

@media (min-width: 750px) {
  h1 {
    margin-bottom: 5rem;
  }
  nav {
    font-size: 1.25rem; /* Updated for better readability */
  }
}

@media (max-width: 750px) {
  .link {
    font-size: 0.8rem; /* Updated for better responsiveness */
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 290%;
  }
  nav {
    /* flex-direction: column; */
  }
  .link {
    font-size: 0.75rem; /* Adjusted for smaller screens */
  }
}
.nav-icon {
  margin-right: 0.5rem; /* Space between icon and text */
  height: 1.5rem;
  width: 1.5rem;
}

.nav-text {
  display: inline; /* Default: show text */
}

@media (max-width: 490px) {
  .nav-text {
    display: none; /* Hide text on small screens */
  }
}
@media (max-width: 350px) {
  .nav-text {
    display: none; /* Hide text on small screens */
  }
}
