.pwd-list-container {
  display: flex;
  align-items: center;
  /* border: 1px solid green; */
  justify-content: center;
}
.pwd-list-wrapper {
  /* border: 1px solid red; */
  display: flex;
  width: fit-content;
  flex-direction: column; /* Stack items vertically on small screens */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  gap: 0.4rem; /* Space between items */
  background-color: rgba(255, 255, 255, 0);
}
.long-pwd-viewer {
  height: auto;
}
@media (min-width: 850px) {
  .pwd-list-wrapper {
    flex-direction: row; /* Change to row on larger screens */
    flex-wrap: wrap; /* Allow wrapping of items */
    justify-content: center; /* Center wrapped items */
    align-items: baseline; /* Align items to the baseline */
  }
}
